<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'bootstrap.css')}}">
			<!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
		<!-- <script type="text/javascript" src="js/bootstrap.js"></script> -->
	</head>
	<body>
		<div class="container" style="margin-left: 100px">
			<center>
				<h1>Twitter Sentiment Analysis</h1>
			</center>
			
			<div class="row">
				<div class="col-md-5">
					<h2>Masukkan file anda</h2>
					
					<form action="{{url_for('analysis')}}" method="POST" enctype="multipart/form-data">
						<div class="col-md-12" style="padding-left: 0px">
							<table class="table table-bordered table-striped">
								<thead class="thead-dark">
									<tr>
										<th>Add your .csv files here</th>
									</tr>
								</thead>
								<div class="form-group" style="padding: 10px">
									<tr>
										<td>
											<input type="file" class="form-control-file" id="inputfiles1" name="inputfiles1">
										</td>
									</tr>
									<tr>
										<td>
											<input type="file" class="form-control-file" id="inputfiles2" name="inputfiles2">
										</td>
									</tr>
									<tr>
										<td>
											<button type="submit" class="btn btn-outline-dark ">Submit</button>
										</td>
									</tr>
								</div>
							</table>
						</div>
					</form>
				</div>
				<div class="col-md-2">
					<!-- <h5>or</h5> -->
				</div>
				<div class="col-md-5">
			<h2>Masukkan kata kunci pencarian</h2>
			
			<br><br>
			<form action="{{url_for('search')}}" method="POST">
				<div class="form-row">
					<div class="col-12">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">Enter Here</span>
							</div>
							<input type="text" class="form-control " placeholder="keywords1" aria-label="keywords" aria-describedby="basic-addon1" name="key1">
						</div>
					</div>
					<div class="col-12">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">Enter Here</span>
							</div>
							<input type="text" class="form-control " placeholder="keywords2" aria-label="keywords" aria-describedby="basic-addon1" name="key2">
						</div>
					</div>
					<div class="col-3">
						<button type="submit" class="btn btn-outline-dark btn-md">Search</button>
					</div>
				</div>
			</form>
					
				</div>
			
			</div>
			<p>Cara Menggunakan Aplikasi:</p>
			<ul>
				<li>
					<p>. Mempunyai file berisi Tweets yang akan dianalisis:</p>
				</li>
				<ol>
					<p>1. Pastikan file mempunyai format .csv </p>	
					<p>2. Kolom data Tweets diberi nama "Tweet" </p>
					<p>3. Masukkan 2 file untuk diolah dan dibandingkan</p>
				</ol>
				<li>	
					<p>B. Mencari Tweets dengan kata tertentu untuk dianalisis:</p>
				</li>	
				<ol>
					<p>1. Masukkan keyword yang ingin dicari pada form yang disediakan </p>
					<p>2. Masukkan 2 keyword, pisahkan dengan tanda koma</p>
				</ol>
			</ul>
		</div>
	</body>
</html>